<ion-content [fullscreen]="true">
  <br>
  <div class="welcome_message">
    <span id = "hi">Hi</span> ,welcome to 
    <span id = "ae">Ae</span>
    <span id = "rio">rio</span>!
   </div>
  <br>
  <div align = center>
  <img src="assets/illustrations/myillustration.png">
</div>
<p id="welcomeparagraf">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odit voluptatum natus cumque eos labore, eveniet laborum commodi dolor iure.</p>
  <br>
  <div class="button" id = "">
    <button id="GetStarted">
      <p id = "button_info">
      lets go !
      </p>
  </button>
</div>
</ion-content>
